<footer class="fixed-footer py-5 ">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5">
      <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <img src="/src/assets/images/meclim-footer-logo.svg" alt="" class="bi me-2">
        </a>
        <p>Excelência em Climatização e Engenharia, Transformando Seu Ambiente em um Lugar Ideal.</p>
        <p class="text-light"><small>Copyright © 2023</small></p>
      </div>

      <div class="col mb-3">

      </div>

      <div class="col mb-3">
        <h5 class="fw-semibold"><Strong>Empresa</Strong></h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light fw-light">Quem somos</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light fw-light">Solicite Orçamento</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light fw-light">FAQ</a></li>
        </ul>
      </div>

      <div class="col mb-3">
        <h5 class="fw-semibold"><strong>Contatos</strong></h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light fw-light">(83) 98667-4550</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light fw-light">(81) 98552-2808</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light fw-light">{{"meclimeng@gmail.com"}}</a></li>
        </ul>
      </div>

      <div class="col mb-3">
        <h5 class="fw-semibold"><Strong>Legal</Strong></h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light fw-light">Terms of Service</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light fw-light">Privacy Policy / GDPR</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light fw-light">Cookie Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
