.pg-contacts{
  background-color: #f3f3f3;
}

.mail-form{
  margin-top: 0;
  max-width: 36.063rem;
  max-height: 36.736rem;
}

.btn-primary{
  background-color: #4F9CF9;
  color: white;
  border: none;
  padding-left: 12%;
  padding-right: 10%;
}
