<div class="d-flex flex-column min-vh-100">
  <app-breadcrumb [title]="pageTitle"></app-breadcrumb>
  <div class="pg-about flex-grow-1 d-flex p-5 align-items-center flex-column">

    <div class=" d-flex flex-column container-fluid align-items-start">
      <div class="container-history">
        <h3 class="font-custom mb-3"><strong>Sobre a Meclim</strong></h3>
        <p class="text-indent">
          A Meclim nasce com a necessidade e o objetivo de oferecer mão de obra qualificada para a manutenção,
          instalação
          e consultoria em engenharia mecânica voltadas para sistemas de refrigeração e ar-condicionado, além de
          treinamentos técnicos. Seu portfólio abrange os setores comerciais e industriais. Com atividades iniciadas em
          2023, a Meclim conta com uma equipe de engenheiros e técnicos qualificados, com 14 anos de experiência no
          mercado, atuando na área de HVAC.
        </p>
        <p class="text-indent">
          Somos uma empresa especializada em soluções de climatização e sistemas mecânicos, formada por técnicos
          altamente
          capacitados em refrigeração e engenheiros mecânicos experientes. Com anos de know-how no mercado, nossa missão
          é
          oferecer serviços personalizados e de alta qualidade para garantir o conforto térmico e a eficiência
          energética
          em seu ambiente. Seja para sua casa, empresa ou indústria, estamos prontos para atender às suas necessidades
          com
          profissionalismo e excelência.
        </p>
      </div>
    </div>


    <div class="d-flex p-md-5 mp-lg-5 container-fluid justify-content-evenly flex-column flex-lg-row mx-5  mt-3">
      <div class=" p-md-5">
        <img src="/src/assets/images/img-about.png" alt="about image" class="img-fluid">
      </div>

      <div class="mt-5">
        <div class="d-flex mb-5">
          <div class="pe-3 px-md-3 px-lg-3">
            <img src="/src/assets/images/ic-misssion.png" alt="missão" class="img-fluid icon-size">
          </div>
          <div class="contaiter-culture">
            <h5><strong>Missão</strong></h5>
            <p> Proporcionar aos nossos clientes uma prestação de serviço diferencial por meio de mão de obra
              especializada, moldando-se as necessidades de cada cliente e projeto proporcionando soluções eficazes e
              compatibilizações necessárias para melhor atendimento.
            </p>
          </div>
        </div>

        <div class="d-flex mb-5">
          <i class="pe-3 px-md-3 px-lg-3">
            <img src="/src/assets/images/ic-vision.png" alt="visão" class="img-fluid icon-size">
          </i>
          <div class="contaiter-culture">
            <h5><strong>Visão</strong></h5>
            <p> Oferecer soluções sob medida, atendendo às necessidades específicas de cada cliente, por meio da
              integração de tecnologia e inovação com o que há de mais avançado no mercado. Buscamos ser reconhecidos
              como referência em sistemas de refrigeração e climatização, destacando-nos pelo conforto, bem-estar,
              parcerias sólidas e a plena satisfação de nossos clientes.
            </p>
          </div>
        </div>

        <div class="d-flex  ">
          <i class="pe-3 px-md-3 px-lg-3">
            <img src="/src/assets/images/ic-values.png" alt="valores" class="img-fluid  icon-size">
          </i>
          <div class="contaiter-culture">
            <h5><strong>Valores</strong></h5>
            <p> Proporcionar conforto e bem estar nos nossos atendimentos, levando um atendimento transparente e pontual
              aos nossos clientes.
            </p>
          </div>
        </div>
      </div>
    </div>





  </div>
  <app-footer></app-footer>
</div>
