.pg-about{
  background-color: #f3f3f3;
}

.font-custom{
  font-family: 'Inter', sans-serif;
}

.text-indent {
  text-indent: 2em; /* Define o espaçamento da primeira linha */
}


.container-history {
  max-width: 53.5rem;
  margin-left: 10%;
}

.contaiter-culture{
  max-width: 27.5rem;
}
