<div class="d-flex flex-column min-vh-100">
  <app-breadcrumb [title]="pageTitle"></app-breadcrumb>
  <div class="pg-services flex-grow-1 d-flex justify-content-center  py-5 flex-column">

    <div class="container-fluid mt-5">
      <h1 class="title"><strong>Nossos Serviços</strong></h1>
    </div>

    <div class="accordion container-fluid p-5" id="accordionServices">

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
            aria-expanded="false" aria-controls="collapse1"><strong>PMOC (Plano de manutenção, Operação e
              Controle)</strong>
          </button>
        </h2>
        <div id="collapse1" class="accordion-collapse collapse " data-bs-parent="#accordionServices">
          <div class="accordion-body">
            <p>O Plano de Manutenção, Operação e Controle (PMOC) é um requisito legal obrigatório para todos os
              ambientes de uso público e coletivo que possuam sistemas de climatização artificial, conforme disposto na
              Lei nº 13.589/2018. O PMOC tem como objetivo garantir a manutenção preventiva dos sistemas de
              climatização, assegurando a qualidade do ar interno e o funcionamento adequado das instalações.</p>
            <p>Este plano estabelece as diretrizes para a operação eficiente, segura e saudável dos sistemas, prevenindo
              a contaminação do ar, falhas nos equipamentos e consumos excessivos de energia elétrica. O PMOC é
              essencial para a conformidade com as exigências da ANVISA, conforme estabelecido na Portaria nº 3.523, e
              com a NBR 17037, norma técnica que substitui a RE09. Além disso, o PMOC contribui para a promoção da saúde
              dos ocupantes do ambiente e para a extensão da vida útil dos equipamentos de climatização.</p>
          </div>
        </div>
      </div>


      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2"
            aria-expanded="false" aria-controls="collapse2">
            <strong>Consultoria Técnica Especializada</strong>
          </button>
        </h2>
        <div id="collapse2" class="accordion-collapse collapse " data-bs-parent="#accordionServices">
          <div class="accordion-body">
            <p>
              Seja para novos projetos retrofits ou para otimizar sistemas existentes, nossa consultoria técnica oferece
              soluções inteligentes e eficientes. Analisamos a necessidade do seu espaço e recomendamos as melhores
              soluções, levando em consideração aspectos como eficiência energética, custo-benefício e sustentabilidade.
            </p>
            <p><strong>Benefícios:</strong></p>
            <ul>
              <li>Projetos personalizados e eficientes.</li>
              <li>Soluções técnicas que visam a economia e a redução de custos operacionais.</li>
              <li>Assessoria completa para projetos de climatização e mecânica.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3"
            aria-expanded="false" aria-controls="collapse3">
            <strong>Instalação de Sistemas de Refrigeração e ar Condicionado</strong>
          </button>
        </h2>
        <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionServices">
          <div class="accordion-body">
            <p>Garantimos a instalação de sistemas de ar-condicionado e climatização que atendem às suas necessidades
              específicas. Seja para ambientes comerciais ou corporativos, trabalhamos com as melhores tecnologias,
              proporcionando conforto, eficiência e economia de energia desde o primeiro dia.</p>
            <p><strong>Benefícios:</strong></p>
            <ul>
              <li>Projetos sob medida para o seu espaço.</li>
              <li>Instalação rápida e sem complicação.</li>
              <li>Equipamentos de alta qualidade e eficiência energética.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4"
            aria-expanded="false" aria-controls="collapse4">
            <strong>Manutenção Preventiva e Corretiva</strong>
          </button>
        </h2>
        <div id="collapse4" class="accordion-collapse collapse " data-bs-parent="#accordionServices">
          <div class="accordion-body">
            <p>Evite surpresas e prolongue a vida útil dos seus equipamentos com nosso serviço completo de manutenção.
              Realizamos tanto a manutenção preventiva quanto corretiva, garantindo que seus sistemas de climatização
              funcionem sempre no melhor desempenho e eficiência energética.</p>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5"
            aria-expanded="false" aria-controls="collapse5">
            <strong>Laudo Técnico</strong>
          </button>
        </h2>
        <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionServices">
          <div class="accordion-body">
            <p>Nosso serviço especializado é direcionado à análise técnica e aprofundada de projetos, obras, instalações
              ou equipamentos, com base em normas técnicas, critérios de engenharia e avaliações específicas. O laudo
              técnico gerado tem como objetivo atestar a conformidade das estruturas ou sistemas, identificar falhas ou
              anomalias, realizar vistorias e propor soluções técnicas adequadas, sempre em conformidade com as melhores
              práticas da engenharia.</p>
            <p>O laudo técnico de engenharia pode ser solicitado em diversas circunstâncias, incluindo:</p>
            <ul>
              <li><strong>Vistorias em obras e instalações</strong>: Realização de inspeções para verificar a
                conformidade com as normas e especificações técnicas pertinentes.</li>
              <li><strong>Análise de falhas ou danos</strong>: Identificação e diagnóstico das causas de defeitos,
                falhas ou problemas em sistemas, equipamentos ou estruturas.</li>
              <li><strong>Avaliação de riscos</strong>: Análise e mitigação de riscos relacionados à segurança, saúde e
                impactos ambientais, no contexto de projetos ou operações.</li>
              <li><strong>Perícias técnicas</strong>: Em processos judiciais ou arbitragem, o laudo técnico serve como
                suporte técnico e fundamentação objetiva para esclarecer questões controversas.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6"
            aria-expanded="false" aria-controls="collapse6">
            <strong>ART (Anotação de Responsabilidade Técnica)</strong>
          </button>
        </h2>
        <div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#accordionServices">
          <div class="accordion-body">
            <p>ART- anotação de responsabilidade técnica é um documento legal que identifica o profissional ou empresa
              prestadora de serviços responsável por uma obra ou execução de serviços de instalação construção ou
              manutenção.</p>
            <p>A art é uma garantia legal entre as partes tanto contratante como contratada selada mediante geração de
              documento em autarquia federal (Crea ou CFT). </p>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7"
            aria-expanded="false" aria-controls="collapse7">
            <Strong>Contratos de Manutenção</Strong>
          </button>
        </h2>
        <div id="collapse7" class="accordion-collapse collapse" data-bs-parent="#accordionServices">
          <div class="accordion-body">
            <p>Precisando terceirizar os seus serviços de manutenção de sistemas de refrigeração e ar condicionado.
              Fornecemos através do contrato de manutenção, mão de obra especializada de manutenção preventiva mensal
              para execução de um PMOC- Plano de manutenção operação e controle, elaborado sob medida para suas
              instalações. Toda vigência contratual será acompanhada por um engenheiro responsável técnico pela suas
              instalações.</p>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8"
            aria-expanded="false" aria-controls="collapse8">
            <strong>Inspeção de Máquinas e Equipamentos</strong>
          </button>
        </h2>
        <div id="collapse8" class="accordion-collapse collapse " data-bs-parent="#accordionServices">
          <div class="accordion-body">
            <p>A inspeção de máquinas e equipamentos é um aliado técnico periódico executado por um engenheiro mecânico
              com a finalidade de avaliar as instalações máquinas e equipamentos, afim de levantar todas as adequações e
              manutenções necessárias a serem programadas para manter aas instalações dos sistemas em nível de
              confiabilidade e disponibilidade dos equipamentos.</p>
            <p>Além da inspeção, no nosso relatório de atendimento entregue ao fim da inspeção disponibilizamos toda
              lista de materiais e peças e componentes passivas de substituição e todas a atividades a serem executadas
              nas suas instalações.</p>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9"
            aria-expanded="false" aria-controls="collapse9">
            <strong>Isolamento Térmico</strong>
          </button>
        </h2>
        <div id="collapse9" class="accordion-collapse collapse" data-bs-parent="#accordionServices">
          <div class="accordion-body">
            <p>Dispomos de serviços de instalação e substituição de isolamento térmicos para tubulações de dutos de ar condicionado.</p>
            <p><strong>Atuando com</strong>:</p>
            <ul>
              <li>Borracha elastomérica;</li>
              <li>Feltro lã de vidro aluminizado isoflex;</li>
              <li>Feltro Lã de rocha aluminizado isoflex;</li>
              <li>Polietileno aluminizado Etaflom;</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
