<div class="d-flex flex-column min-vh-100">
  <app-breadcrumb [title]="pageTitle"></app-breadcrumb>
  <div class="pg-services flex-grow-1 d-flex justify-content-center  py-5 flex-column">

    <div class="container-fluid mt-5">
      <h1 class="title"><strong>Nossos Serviços</strong></h1>
    </div>

    <div class="accordion container-fluid p-5" id="accordionServices">

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
            aria-expanded="true" aria-controls="collapse1"><strong>PMOC (Plano de manutenção, Operação e
              Controle)</strong>
          </button>
        </h2>
        <div id="collapse1" class="accordion-collapse collapse show" data-bs-parent="#accordionServices">
          <div class="accordion-body">
            O serviço de PMOC (Plano de Manutenção, Operação e Controle) é uma exigência legal que visa garantir a
            manutenção preventiva e a qualidade do ar em sistemas de climatização, como ar-condicionado e refrigeração.
            Ele assegura que esses sistemas operem de maneira eficiente, segura e saudável, evitando problemas como
            contaminação do ar, falhas nos equipamentos e altos custos com energia.
            O PMOC é fundamental para cumprir as normas da ANVISA, garantindo também a saúde dos ocupantes e o
            prolongamento da vida útil dos equipamentos.
          </div>
        </div>
      </div>


      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2"
            aria-expanded="true" aria-controls="collapse2">
            <strong>Consultoria Técnica Especializada</strong>
          </button>
        </h2>
        <div id="collapse2" class="accordion-collapse collapse show" data-bs-parent="#accordionServices">
          <div class="accordion-body">
            Seja para novos projetos ou para otimizar sistemas existentes, nossa consultoria técnica oferece soluções
            inteligentes e eficientes. Analisamos a necessidade do seu espaço e recomendamos as melhores soluções,
            levando em consideração aspectos como eficiência energética, custo-benefício e sustentabilidade.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3"
            aria-expanded="true" aria-controls="collapse3">
            <strong>Instalação de Sistemas de Refrigeração</strong>
          </button>
        </h2>
        <div id="collapse3" class="accordion-collapse collapse show" data-bs-parent="#accordionServices">
          <div class="accordion-body">
            text
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4"
            aria-expanded="true" aria-controls="collapse4">
            <strong>Manutenção Preventiva e Corretiva</strong>
          </button>
        </h2>
        <div id="collapse4" class="accordion-collapse collapse show" data-bs-parent="#accordionServices">
          <div class="accordion-body">
            text
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5"
            aria-expanded="true" aria-controls="collapse5">
            <strong>Laudo Técnico</strong>
          </button>
        </h2>
        <div id="collapse5" class="accordion-collapse collapse show" data-bs-parent="#accordionServices">
          <div class="accordion-body">
            text
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6"
            aria-expanded="true" aria-controls="collapse6">
            <strong>ART (Anotação de Responsabilidade Técnica)</strong>
          </button>
        </h2>
        <div id="collapse6" class="accordion-collapse collapse show" data-bs-parent="#accordionServices">
          <div class="accordion-body">
            text
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7"
            aria-expanded="true" aria-controls="collapse7">
            <Strong>Contratos de Manutenção</Strong>
          </button>
        </h2>
        <div id="collapse7" class="accordion-collapse collapse show" data-bs-parent="#accordionServices">
          <div class="accordion-body">
            text
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8"
            aria-expanded="true" aria-controls="collapse8">
            <strong>Inspeção de Máquinas e Equipamentos</strong>
          </button>
        </h2>
        <div id="collapse8" class="accordion-collapse collapse show" data-bs-parent="#accordionServices">
          <div class="accordion-body">
            text
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9"
            aria-expanded="true" aria-controls="collapse9">
            <strong>Isolamento Térmico</strong>
          </button>
        </h2>
        <div id="collapse9" class="accordion-collapse collapse show" data-bs-parent="#accordionServices">
          <div class="accordion-body">
            text
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
