<div class="d-flex flex-column min-vh-100">
  <div class="flex-grow-1 d-flex justify-content-center flex-column">

    <div class="title-card container-fluid d-flex flex-row justify-content-around p-5 align-items-center">
      <div class="align-items-center title-text-card">
        <h1 class="fw-bold font-custom display-5"><strong>Soluções em Refrigeração e climatização</strong></h1>
        <h5 class="mt-3 lead fw-medium">Oferecemos Soluções para sistemas de refrigeração Industrial e comercial, desde instalação,
          manutenção, PMOC e outros serviços.</h5>
        <button class=" btn btn-primary btn-lg fw-semibold mt-5 p-3" [routerLink]="['/contatos']"
          routerLinkActive="router-link-active">
          Solicite Orçamento
          <i class="bi bi-arrow-right"></i>
        </button>
      </div>
      <div class="">
        <img src="/src/assets/images/img-chiller.png" alt="chiller" class="float-end img-fluid">
      </div>
    </div>

    <div class=" card-about container-fluid d-flex p-5 my-5  align-items-center justify-content-around ">
      <div class="align-items-center">
        <div style="max-width: 23rem;">
          <h1 class="font-custom"><strong>Meclim</strong></h1>
          <p>Somos uma empresa especializada em sistemas de Refrigeração e Arcondicionado. Com um corpo técnico formado
            por uma equipe de engenharia e profissionais técnicos altamente capacitados e com experiencia de mercado</p>
        </div>
        <button class=" btn btn-primary btn-lg fw-semibold mt-5 p-3 px-5" [routerLink]="['/empresa']"
          routerLinkActive="router-link-active">
          Saiba mais
          <i class="bi bi-arrow-right"></i>
        </button>
      </div>
      <div class="">
        <img src="/src/assets/images/img-home-card-sobre.png" alt="chiller" class="float-end img-fluid">
      </div>
    </div>

    <div class="container-fluid d-flex flex-column align-items-center justify-content-around p-5 my-5">
      <h1 class="font-custom "><Strong>Nossos serviços</Strong></h1>
      <div class="d-flex container-fluid justify-content-evenly pt-5 mt-5">
        <div class="card-servico p-3 d-flex align-items-center justify-content-center flex-column">
          <h2 class=""><strong>PMOC</strong></h2>
          <p class="my-5 px-3">Preparamos tudo o que você precisa para atender às exigências legais estabelecidos pela
            ANVISA e pela Lei 13.589/2018.</p>
        </div>
        <div class="card-servico p-3 d-flex align-items-center justify-content-center flex-column">
          <h2 class=""><strong>Consultoria</strong></h2>
          <p class="my-5 px-3">Seja para novos projetos ou para otimizar sistemas existentes, nossa consultoria técnica
            oferece soluções inteligentes e eficientes.</p>
        </div>
        <div class="card-servico p-3 d-flex align-items-center justify-content-center flex-column">
          <h2 class=""><strong> Laudos Técnicos</strong></h2>
          <p class="my-5 px-3">Fornecemos serviço inteligente de análise detalhada e avaliação dos sistemas, com o
            objetivo de garantir o atuação correta dos equipamentos </p>
        </div>
        <div class="card-servico p-3 d-flex align-items-center justify-content-center flex-column">
          <h2 class=""><strong>Manutenção</strong></h2>
          <p class="my-5 px-3">Evite surpresas e prolongue a vida útil dos seus equipamentos com nosso serviço completo
            de manutenção.</p>
        </div>
      </div>
      <div class="d-flex container-fluid justify-content-end ">
        <button class=" btn btn-primary btn-lg fw-semibold  mx-7 mt-5 p-3 px-5" [routerLink]="['/servicos']"
          routerLinkActive="router-link-active">
          Todos os Serviços
          <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </div>

    <div class="differences-card container-fluid d-flex flex-column align-items-center px-5 pt-5 ">
      <h1 class="font-custom "><Strong>Diferenciais</Strong></h1>

      <div class="container-fluid flex-grow-1 d-flex justify-content-evenly align-items-center">
        <div class="d-flex justify-content-center flex-column align-items-center text-center">
          <i>
            <img src="/src/assets/images/ic-pmoc.png" alt="">
          </i>
          <h5><strong>Especializados em PMOC</strong></h5>
        </div>
        <div class="d-flex justify-content-center flex-column align-items-center text-center">
          <i>
            <img src="/src/assets/images/ic-team.png" alt="">
          </i>
          <h5><strong>Equipe Qualificada</strong></h5>
        </div>
        <div class="d-flex justify-content-center flex-column align-items-center text-center">
          <i>
            <img src="/src/assets/images/ic-tec.png" alt="">
          </i>
          <h5><strong>Visita Técnica</strong></h5>
        </div>
        <div class="d-flex justify-content-center flex-column align-items-center text-center">
          <i>
            <img src="/src/assets/images/ic-quality.png" alt="">
          </i>
          <h5><strong>Testes de Qualidade</strong></h5>
        </div>
        <div class="d-flex justify-content-center flex-column align-items-center text-center">
          <i>
            <img src="/src/assets/images/ic-eng.png" alt="">
          </i>
          <h5><strong>Corpo de Engenharia</strong></h5>
        </div>
      </div>
    </div>

    <div class="container-fluid d-flex align-items-center justify-content-evenly p-5 my-5">
      <div>
        <img src="/src/assets/images/img-work-together.png" alt="" class="img-fluid">
      </div>

      <div class="ms-5">
          <h1 class="font-custom mb-3"><strong>Trabalhe conosco</strong></h1>
          <h5 class="text-wrap max-w-75">Buscamos profissionais apaixonados por tecnologia e soluções em refrigeração. Envie seu currículo e venha fazer parte do nosso time!</h5>

          <button class=" btn btn-primary btn-lg fw-semibold mt-5 p-3 px-5" (click)="navigateToExternal()">
          Saiba mais
          <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </div>

  </div>
  <app-footer></app-footer>
</div>
